<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main style="margin-bottom: 2rem;margin-top: 6rem; display: grid;align-items: center;justify-items: center;">
    <aside style="grid-column-start: 1;grid-column-end:3;margin-bottom: 4rem;column-gap: 2rem;display: flex;">
      <%- include('partials/navigation', {selected: 'faceRecognition' }) %>
    </aside>
    <section style="grid-column: 1;display: grid;gap: 1rem;grid-template-columns: repeat(2, 1fr);">
      <button type="button" class="btn btn-primary" style="grid-row: 1;" id="initCamera">
        <img src="https://cdn-icons-png.flaticon.com/512/1451/1451468.png" width="24" height="24" /> Start camera
      </button>

      <button type="button" class="btn btn-info" style="grid-row: 1;" id="stopCamera">
        <img src="https://cdn-icons-png.flaticon.com/512/4595/4595752.png" width="24" height="24" /> Stop camera
      </button>
      
      <button type="button" class="btn btn-dark" id="detectUser" style="grid-row: 2;grid-column-start: 1;grid-column-end: 3;">
        <img src="https://cdn-icons-png.flaticon.com/512/4663/4663983.png" width="24" height="24" /> Sign in
      </button>
    </section>
    <video style="grid-column: 2;" id="videoSource" width="640" height="480" autoplay muted playsinline></video>
  </main>
  <aside style="font-size: 5rem;display: flex;color: red;font-weight: bold;justify-content: center;" id="errorMsg">
    <%= errorMsg %>
  </aside>
  <canvas style="display: none;" id="imageBuffer"></canvas>

  <%- include('partials/scripts') %>
  <script defer src="statics/loginFaceRecognition.js"></script>
</body>

</html>
