<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <main style="margin-bottom: 2rem;margin-top: 6rem; display: grid;align-items: center;justify-items: center;gap: 8rem;">
    <aside style="grid-column-start: 1;grid-column-end:3;column-gap: 2rem;display: flex;">
      <%- include('partials/navigation', {selected: 'voiceRecognition' }) %>
    </aside>
    <section
      style="grid-column-start: 1;grid-column-end: 3;display: grid;gap: 1rem;grid-template-columns: repeat(2, 1fr);">

      <button type="button" class="btn btn-primary" id="recordButton" style="grid-column-start: 1;grid-column-end: 3;" >
        <img src="https://cdn-icons-png.flaticon.com/512/8849/8849140.png" width="24" height="24" /> Hold to record voice
      </button>

      <input style="grid-row: 2;" class="form-control" type="text" name="label" id="usernameInput" placeholder="username" disabled>

      <button type="button" class="btn btn-dark" id="detectUser" style="">
        <img src="https://cdn-icons-png.flaticon.com/512/4663/4663983.png" width="24" height="24" /> Sign in
      </button>
    </section>

    <section style="grid-column-start: 1;grid-column-end: 3;display: grid;gap: 1rem;grid-template-columns: repeat(2, 1fr);">
      <label style="grid-row: 1;" >Recognized <span id="totalFrequencySamples">0</span> data samples (min 60)</label>
      <audio style="grid-row: 2;grid-column-start: 1;grid-column-end: 3;" id="audioSample" controls title="Recording sample"></audio>
    </section>
  </main>
  <aside style="font-size: 5rem;display: flex;color: red;font-weight: bold;justify-content: center;" id="errorMsg">
    <%= errorMsg %>
  </aside>

  <%- include('partials/scripts') %>
  <script defer src="statics/loginVoiceRecognition.js" type="module"></script>
</body>

</html>
