<a style="font-size: xx-large;" href="/?loginMethod=faceRecognition" class="btn btn-info <%= (selected == 'faceRecognition') ? 'disabled' : '' %>" >
    Sign in using face recognition
</a>
<a style="font-size: xx-large;" href="/?loginMethod=voiceRecognition" class="btn btn-info <%= (selected == 'voiceRecognition') ? 'disabled' : '' %>">
    Sign in using voice recognition
</a>
<a style="font-size: xx-large;" href="register" class="btn btn-info <%= (selected == 'register') ? 'disabled' : '' %>">
    Sign up
</a>